<h1>Welcome to Meadowlark Travel <a href="/newsletter-signup">去登录</a></h1>

<p>Questions? Checkout out our <a href="/about" data-test-id="about">About Us</a></p>

<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default">Left</button>
  <button type="button" class="btn btn-default">Middle</button>
  <button type="button" class="btn btn-default">Right</button>
</div>

{{!-- 自动在views/partials下寻找 weather开头的handlebars --}}
{{> weather}}
